body{
    background-image: url("https://cdn1.bigcommerce.com/server4500/1ede4/product_images/uploaded_images/7-train-animal-jul30.jpg?t=1478035627");
    background-repeat: no-repeat; 
    background-size: 1700px;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgba(199, 206, 141, 0.548)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(47, 97, 155, 0.459);
  }
  h2{
text-align: center;
font-size: 50px;
color: yellow;
background-color: none;
margin: 10px;

  }
.abouttext{    
    background-color: rgba(80, 77, 77, 0.432) ;
    text-align: center;  
    color: rgb(218, 78, 36);  
font-size: 30px;
margin-top: 20px; 
position: absolute;
left: 0;
top: 50%;
width: 100%;
text-align: center;


}

/* width: 150px;
height: 150px; */
/* 
  button{
      
  } */